# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
#       - uses: actions/checkout@v2

      # Runs a single command using the runners shell
#       - name: Run a one-line script
#         run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Simple FTP deploy Fork
        # You may pin to the exact commit or the version.
        # uses: alesmenzel/simple-ftp-deploy-action@27260f8922b2daa11bbd253f6eabe444fe8a1cef
        uses: alesmenzel/simple-ftp-deploy-action@v1.3.0
        with:
          # FTP host
          ftp_host: kamino06.umbler.net:21
          # FTP username
          ftp_username: rpg-leadthis-com-br
          # FTP password
          ftp_password: U{It*^jg:WI+_zm
          # The local folder to copy
          local_source_dir: /
          # The remote folder
          dist_target_dir: /home/rpg.leadthis.com.br/
          # Delete files not present in the local folder on the remote folder
          delete: false # optional, default is false
          # Download only newer files
          only_newer: true # optional, default is false
          # Ignore time when deciding whether to download
          ignore_time: false # optional, default is false
          # Ignore file(s) and/or directorie(s)
          exclude: false # optional, default is 
          # Disable SSL certificate verification
          disable_ssl_certificate_verification: true # optional, default is true
          # Optional raw string of flags for lftp eg. --no-empty-dirs
          
